@font-face { font-family: OpenDyslexic; src: url('https://raw.githubusercontent.com/antijingoist/opendyslexic/master/compiled/opendyslexic.otf'); } 

* {
    font-family: OpenDyslexic;
} 

html, body {
    width:  100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#playBtn {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#gamCnv {
    border: 2px solid #000000;
    margin-left: 4px;
    display: block;
    background-color: #dfe4d6;
}

#winLossDiv:hover {
    cursor: pointer;
}

#winLossDiv {
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.8);
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left:10%;
    z-index: 9;
    border-radius: 40px;
    text-align: center;
    border: rgba(0, 0, 0, 0.25) 10px solid;
}

.wlHeader {
    font-size: min(4cqw, 4cqh);
}