@font-face { font-family: OpenDyslexic; src: url('https://raw.githubusercontent.com/antijingoist/opendyslexic/master/compiled/opendyslexic.otf'); } 

* {
    font-family: OpenDyslexic;
} 

html, body {
    width:  100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#gamCnv {
    border: 2px solid #000000;
    margin-left: 4px;
    display: block;
    background-color: #dfe4d6;
}